// https://palettes.shecodes.io/palettes/594
// $first-color: #00204a;
// $second-color: #005792; 
// $third-color: #00bbf0; 
// $fourth-color: #fdb44b;

// https://palettes.shecodes.io/palettes/1435
$first-color: #222831;
$second-color: #393e46;
$third-color: #0092ca;
$fourth-color: #eeeeee;

// Body
$body-color: $fourth-color;
$body-bg: $first-color;

// Offcanvas
$offcanvas-color: $fourth-color;
$offcanvas-bg-color: $second-color;

$popover-bg: $second-color;
$popover-header-color: $fourth-color;

// Link
$navbar-light-brand-color: $fourth-color;
$navbar-light-brand-hover-color: $second-color;

// Boutons
$btn-close-color: $fourth-color;

// Modal
$modal-content-color: $fourth-color;
$modal-content-bg: $second-color;

// Forms
$form-check-input-bg: $second-color;
$form-check-input-border: 1px solid $fourth-color;
$input-group-addon-bg: $second-color;

// Cards
$card-bg: $second-color;
$card-border-width: 2px;
$card-border-color: $second-color;

// Themes
$primary:$third-color;
$secondary:$second-color;
// $success:#49C96D;
// $danger:#FD7972;
// $warning:#FF965D;
// $light:#F8F8F8;

$breadcrumb-active-color: $fourth-color;

$dropdown-link-color: $fourth-color;
$dropdown-link-active-color: $fourth-color;
$dropdown-link-hover-color: $first-color;

$form-select-disabled-color: $third-color;